[Desktop Entry]
Name=KTTSD GStreamer Plugin

Comment=KTTSD GStreamer audio plugin

Type=Service
X-TDE-ServiceTypes=KTTSD/AudioPlugin
X-TDE-Library=libkttsd_gstplugin
