[Desktop Entry]
Name=Hadifix

Comment=German hadifix text-to-speech system

Type=Service
X-TDE-ServiceTypes=KTTSD/SynthPlugin
X-TDE-Library=libkttsd_hadifixplugin
X-TDE-Languages=de,hu
