[Desktop Entry]
Name=KTTSD aKode Plugin

Comment=KTTSD aKode audio plugin

Type=Service
X-TDE-ServiceTypes=KTTSD/AudioPlugin
X-TDE-Library=libkttsd_akodeplugin
