[Desktop Entry]
Name=Command

Comment=Generic speech synthesizer from command line

Type=Service
X-TDE-ServiceTypes=KTTSD/SynthPlugin
X-TDE-Library=libkttsd_commandplugin
X-TDE-Languages=other
