[Desktop Entry]
Name=Festival Interactive

Comment=Festival speech synthetizer

Type=Service
X-TDE-ServiceTypes=KTTSD/SynthPlugin
X-TDE-Library=libkttsd_festivalintplugin
X-TDE-Languages=en,en_US,en_GB,en_CA,es,es_mx,cy,de,fi,cs,pl,ru,it,sw,zu,fr_CA,vi
