[Desktop Entry]
Name=KTTSD Arts Plugin

Comment=KTTSD aRts audio plugin

Type=Service
X-TDE-ServiceTypes=KTTSD/AudioPlugin
X-TDE-Library=libkttsd_artsplugin
