[Desktop Entry]
Name=KTTSD ALSA Plugin

Comment=KTTSD ALSA audio plugin

Type=Service
X-TDE-ServiceTypes=KTTSD/AudioPlugin
X-TDE-Library=libkttsd_alsaplugin
