[Desktop Entry]
Name=Keyboard Status Applet

Comment=Panel applet that shows the state of the modifier keys

Type=Plugin
Icon=key_enter
X-TDE-Library=kbstate_panelapplet
