[Desktop Entry]
Name=KTextEditor KTTSD Plugin

Comment=Adds a menu entry for speaking the text

Type=Service
MimeType=text/plain
Icon=kttsd
author=Olaf Jan Schmidt, ojschmidt@kde.org
X-TDE-ServiceTypes=KTextEditor/Plugin
X-TDE-Library=tdetexteditor_kttsd
X-Kate-Version=2.2
