[Desktop Entry]
Name=FreeTTS

Comment=FreeTTS speech synthesizer

Type=Service
X-TDE-ServiceTypes=KTTSD/SynthPlugin
X-TDE-Library=libkttsd_freettsplugin
X-TDE-Languages=en,en_US,en_GB
