[Desktop Entry]
Type=Service
Name=kttsjobmgrpart
Name[pt_BR]=Componente Ger. de Jobs do Ktts
Name[tr]=Kttsjobmgrpart
Comment=TDE Text-to-speech Job Manager
Comment[bg]=Мениджър на задачите за синтез на глас
Comment[ca]=Gestor de treballs de text a veu de TDE
Comment[cs]=Správce úloh zvukové syntézy TDE
Comment[da]=TDE's Tekst-til-tale Job-håndtering
Comment[de]=TDE-Auftragsverwaltung für Sprachausgabe
Comment[el]=TDE διαχειριστής εργασιών κειμένου-σε-ομιλία
Comment[es]=Administrador de trabajos del sintetizador de texto a voz de TDE
Comment[et]=TDE teksti kõneks muutmise tööde haldur
Comment[eu]=TDE-ren testutik-hizketarako lan-kudeatzailea
Comment[fa]=مدیر کار متن به گفتار TDE
Comment[fi]=TDE Teksti puheeksi -töidenhallintaohjelma
Comment[fr]=Gestionnaire de tâches de synthèse vocale pour TDE
Comment[ga]=Bainisteoir Jabanna Téacs-go-Caint TDE
Comment[gl]=Xestor de Traballos de Texto-para-Fala de TDE
Comment[hu]=TDE-s kezelőprogram szövegfelolvasáshoz
Comment[is]=TDE texti-í-tal verkstjóri
Comment[it]=Gestore dei processi di pronuncia di TDE
Comment[ja]=TDE テキスト読み上げジョブマネージャ
Comment[ka]=TDE ტექსტი-გახმოვანების ამოცანათა მმართველი
Comment[km]=ឧបករណ៍​គ្រប់គ្រង​ការងារ​អត្ថបទ​ដែលត្រូវ​និយាយ​របស់ TDE
Comment[mk]=Менаџер на задачи во TDE за текст-во-говор
Comment[ms]=Pengurus Kerja Teks-ke-tutur TDE
Comment[nb]=Jobbkontroll for TDE tekst-til-tale
Comment[nds]=TDE-Pleger för Vörleesopgaven
Comment[ne]=केडीई पाठ वाचक काम प्रबन्धक
Comment[nl]=TDE Tekst-tot-spraak-taakbeheer
Comment[pa]=TDE ਪਾਠ ਤੋਂ ਬੋਲੀ ਕੰਮ ਮੈਨੇਜਰ
Comment[pl]=Menedżer zadań odczytywania tekstu
Comment[pt]=Gestor de Trabalhos do Texto para Fala do TDE
Comment[pt_BR]=Gerenciador de Trabalhos de Texto para Fala do TDE
Comment[ru]=Управление заданиями по синтезу речи
Comment[sk]=Správca úloh TDE text-na-reč
Comment[sl]=Upravitelj opravil besedila v govor za TDE
Comment[sr]=TDE-ов менаџер послова за текст-у-говор
Comment[sr@Latn]=TDE-ov menadžer poslova za tekst-u-govor
Comment[sv]=TDE:s text-till-tal jobbhantering
Comment[ta]=கேடியி உரையில் இருந்து பேச்சு பணி மேலாளர்
Comment[tg]=Идоракунии фармоишҳо бо воситаи таҳлили овоз
Comment[tr]=TDE Metinden Konuşmaya Görev Yöneticisi
Comment[uk]=Менеджер завдань TDE для синтезу мовлення з тексту
Comment[vi]=Trình quản lý Tác vụ Văn bản sang Tiếng nói TDE
Comment[zh_TW]=TDE 文字轉語音工作管理員
ServiceTypes=KParts/ReadOnlyPart
