[Desktop Entry]
Name=KMag

GenericName=Screen Magnifier

Comment=Tool to zoom screen areas

Type=Application
Exec=kmag -caption "%c" %i %m
Icon=kmag
Terminal=false
X-DocPath=kmag/index.html
Categories=Qt;TDE;Utility;Accessibility;
