[Desktop Entry]
Name=Festival Lite (flite)

Comment=Festival Lite (flite) speech synthesizer

Type=Service
X-TDE-ServiceTypes=KTTSD/SynthPlugin
X-TDE-Library=libkttsd_fliteplugin
X-TDE-Languages=en,en_US,en_GB
