[Desktop Entry]
Name=KTTSMgr

GenericName=Text-to-Speech Manager

Comment=TDE Text-to-speech Manager

Type=Application
Exec=kttsmgr -caption "%c" %i %u
Icon=kttsd
Terminal=false
Categories=Qt;TDE;Utility;Accessibility;
