[Desktop Entry]
Name=Freeverb

Comment=A Freeverb Plugin for KSayIt

Type=Service
X-TDE-ServiceTypes=KSayIt/FXPlugin
X-TDE-Library=libFreeverb_plugin
