[Desktop Entry]
Name=KMouseTool

GenericName=Automatic Mouse Click

Comment=Clicks the mouse for you, reducing the effects of RSI

Type=Application
Exec=kmousetool -caption "%c" %i %m
Icon=kmousetool
Terminal=false
X-DocPath=kmousetool/index.html
Categories=Qt;TDE;Utility;Accessibility;
