[Desktop Entry]
Name=Epos TTS Synthesis System

Comment=Epos TTS speech synthesizer

Type=Service
X-TDE-ServiceTypes=KTTSD/SynthPlugin
X-TDE-Library=libkttsd_eposplugin
X-TDE-Languages=cs,sk
