[Desktop Entry]
Name=Text-to-Speech

Comment=Text-to-Speech Control Module

Keywords=kttsd;kcmkttsmgr;kttsmgr;tts;ttsd;ktts;text;to;speech;speak;synthesizer;synth;festival;command;freetts;proklam;via;voice;

Type=Application
Exec=tdecmshell kcmkttsd
Icon=kttsd
NoDisplay=false
StartupNotify=false
StartupWMClass=
Terminal=false
Categories=Qt;TDE;X-TDE-settings-accessibility;
X-DocPath=kttsd
X-TDE-ServiceTypes=Application,TDECModule
X-TDE-FactoryName=kttsd
X-TDE-ParentApp=kcontrol
X-TDE-SubstituteUID=false
X-TDE-ModuleType=Library
X-TDE-Library=kttsd
