[Desktop Entry]
Name=KSayIt

GenericName=Text-to-Speech Frontend

Type=Application
Exec=ksayit -caption "%c" %i
Icon=ksayit
Terminal=false
X-DocPath=ksayit/index.html
Categories=Qt;TDE;Accessibility;Utility;
