[Desktop Entry]
Name=KTTSD
Comment=TDE Text To Speech Daemon

Type=Service
Exec=kttsd
Icon=kttsd
X-TDE-ServiceTypes=DCOP/Text-to-Speech
X-DCOP-ServiceType=Unique
X-DCOP-ServiceName=kttsd
X-TDE-StartupNotify=false
