[Desktop Entry]
Type=Service
Exec=kttsd
Icon=kttsd
ServiceTypes=DCOP/Text-to-Speech
X-DCOP-ServiceType=Unique
X-DCOP-ServiceName=kttsd
X-TDE-StartupNotify=false
Name=KTTSD
Name[zh_TW]=KTTSd
Comment=TDE Text To Speech Daemon
Comment[bg]=Демон за управление на модула за синтез на глас
Comment[bs]=TDE Demon za izgovaranje teksta
Comment[ca]=Dimoni de text a veu de TDE
Comment[cs]=Démon hlasové syntézy TDE
Comment[da]=TDE's Tekst til tale-dæmon
Comment[de]=TDE Sprachausgabedienst
Comment[el]=TDE δαίμονας κειμένου-σε-ομιλία
Comment[es]=Demonio de TDE para la sí­ntesis de texto a voz
Comment[et]=TDE teksti kõneks muutmise deemon
Comment[eu]=TDE-ren testutik hizketarako deabrua
Comment[fa]=شبح متن به گفتار TDE
Comment[fi]=TDE Teksti puheeksi -palvelinohjelma
Comment[fr]=Démon de synthèse vocale pour TDE
Comment[ga]=Deamhan Téacs-Go-Caint TDE
Comment[gl]=Servizo Texto-para-Fala de TDE
Comment[he]=שירות הטקסט לדיבור של TDE
Comment[hu]=TDE szövegfelolvasó szolgáltatás
Comment[is]=TDE texti-í-tal púki
Comment[it]=Demone di pronuncia di TDE
Comment[ja]=TDE テキスト読み上げデーモン
Comment[ka]=TDE ტექსტის გახმოვანების დემონი
Comment[km]=ដេមិន​អត្ថបទ​ដែល​ត្រូវ​និយាយ​របស់ TDE
Comment[mk]=Даемон на TDE за текст-во-говор
Comment[ms]=Daemon Teks Ke Tutur TDE
Comment[nb]=TDE tekst-til-tale-nisse
Comment[nds]=Vörlees-Dämoon vun TDE
Comment[ne]=केडीई पाठ वाचक डेइमन
Comment[nl]=TDE Tekst-tot-spraak-daemon
Comment[pa]=TDE ਪਾਠ ਤੋਂ ਬੋਲੀ ਡਾਈਮੋਨ
Comment[pl]=Usługa odczytywania tekstu dla TDE
Comment[pt]=Servidor do Texto para Fala do TDE
Comment[pt_BR]=Serviço de Conversão de Texto para Fala do TDE
Comment[ru]=Служба синтеза речи
Comment[sk]=Démon TDE text-na-reč
Comment[sl]=Demon TDE za besedilo v govor
Comment[sr]=TDE-ов демон за текст-у-говор
Comment[sr@Latn]=TDE-ov demon za tekst-u-govor
Comment[sv]=TDE:s text-till-tal demon
Comment[ta]=கேடியி உரையில் இருந்து பேச்சு டெமான்
Comment[tg]=Демон таҳлили овоз
Comment[tr]=TDE Metinden Konuşmaya Artalan Süreci
Comment[uk]=Демон TDE синтезу мовлення з тексту
Comment[vi]=Trình nền Văn bản sang Tiếng nói TDE
Comment[zh_TW]=TDE 文字轉語音的常駐精靈

