[Desktop Entry]
Name=KMouth

GenericName=Speech Synthesizer Frontend

Type=Application
Exec=kmouth -caption "%c" %i %m
Icon=kmouth
Terminal=false
X-DocPath=kmouth/index.html
Categories=Qt;TDE;Utility;Accessibility;
